<mat-card style="padding-left:30px; margin: 20px">
  <mat-card-header>
    <h2>SkillClusters with Angular 11, Angular Material Tree and @ngrx/data</h2>
  </mat-card-header>
  <mat-card-content>
    <p><a href="https://github.com/elze/angular-ngrx-data-custom-api-urls/">Here is this application's code</a> on
      Github.</p>
    <p><a href="http://geekitude.com">Here is the author's website</a></p>
    <p>The data this application displays doesn't make much sense at the moment. It's a work in progress. For now, its
      purpose is to demonstrate how to get Angular Material Tree to work with @ngrx/data with custom API URLs. It uses
      Angular 11 and @ngrx/data 10.</p>
  </mat-card-content>
</mat-card>
<p>
  <app-skills></app-skills>
</p>